<div class="container-fluid">
    <div class="row vh-100">
        <div class="col-12 col-lg-6 d-flex">
            <div class="m-auto">
                <h1>
                    Contact Us
                </h1>
                <div class="d-flex">
                    <div class="p-icon">
                        <!-- <mat-icon fontSet="fa" fontIcon="fa-at"></mat-icon> -->
                        <i class="bi bi-link-45deg"></i>


                    </div>
                    <div class="pt-2">
                        <div>
                            <div class="text-secondary">
                                Send me an email
                            </div>
                            <h3>
                                <a href="mailto: h.sheykhalishahi@gmail.com" target="_blank">
                                    h.sheykhalishahi@gmail.com
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="p-icon">
                        <!-- <mat-icon fontSet="fa" fontIcon="fa-linkedin"></mat-icon> -->
                        <i class="bi bi-link-45deg"></i>

                    </div>
                    <div class="pt-2">
                        <div>
                            <div class="text-secondary">
                                Visit my linkedin
                            </div>
                            <h3>
                                <a [href]="linkedin" target="_blank">
                                    hakime-sheikhalishahi
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8  col-lg-6  m-auto text-center">
            <img src="assets/img/contact-us.svg" alt="" class="img-b" />
        </div>
    </div>
</div>